
* {
    box-sizing: border-box;
}

body{
   background-color: #d4e5ef; 
   margin: 0px;
}

header{
    font-family: Palatino, URW Palladio L, serif;
    color: black;
    text-align: center;
    margin: 0px;
    padding: 12px;
}

/*導覽列*/
nav{
    background-color: #8ba3c7;
    font-family:Palatino, URW Palladio L, serif;
    text-align: center;
    font-size: 18px;
}

nav a{
    padding: 20px 25px;
    display: inline-block;
    color: #000;
    margin: 0 25px;
}

nav a:hover {
    background-color: #3B4E6E;
    color: white;
}

main {
    padding: 20px;

}

footer {
    position: absolute;
    bottom: -3550px;
    padding: 13.75px;
    z-index: 1;
    width: 100%;
    background-color: #3B4E6E;
    color: white;
    text-align: center;
}

.card {
    background-color: white;
    padding: 40px;
    margin: 60px 100px;
    border-radius: 20px;
    background-size: cover;
    margin-top: 100px;
}

.card_skill {
    background-color: white;
    padding: 40px;
    margin: 60px 100px;
    border-radius: 20px;
    background-size: cover;
    height: 500px;
}


.container{
    display: flex;
    flex: 1;
    margin-left: 112.5px;
    line-height: 3;
    justify-content: space-between;
    padding: 40px 250px 0px;
}

.container0{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 5px;
}
.left{
    flex: 1;
}

.line_a{
    font-family: Palatino, URW Palladio L, serif;
    text-align: left;
    padding: 25px 25px;
    background-color: #8ba3c7; 
    border: 2px #8ba3c7; 
    border-radius: 5px;
    position: relative;
    right: 232px;
}

.line{
    font-family: Palatino, URW Palladio L, serif;
    text-align: left;
    padding: 25px 25px;
    background-color: #8ba3c7; 
    border: 2px #8ba3c7; 
    border-radius: 5px;
}

.line_e{
    font-family: Palatino, URW Palladio L, serif;
    text-align: left;
    padding: 25px 25px;
    background-color: #8ba3c7; 
    border: 2px #8ba3c7; 
    border-radius: 5px;
    position: relative;
    left: 140px;
}

/* about me 內容 */
.container1{
    display: flex;
    justify-content: space-between;
    padding: 10px 225px 90px;
}

.right1{
    font-size: 18px;
    flex: 1;
    margin-left: 120px;
    line-height: 3;
}

.img1{
    width: 500px;
    height: 500px;
    border-radius: 20px;
    border: 20px solid white;
    position: relative;
    left: 100px;
}



/* 姓名...框框 */
.line1{
    text-align: center;
    padding: 5px 13px;
    background-color: #C1D7EE; 
    border: 2px #C1D7EE; 
    border-radius: 5px;
    margin-right: 15px;
    max-width: 75px;
}

/* program skill,skill 內容*/
.pskill {
    display: flex;
    justify-content: center;
    color: #3B4E6E;
    font-family: Palatino, URW Palladio L, serif;
    font-size: 30px;
    line-height: 200%;
    font-weight: bold;
    margin: auto;
    align-items: center;
}


progress {
    height: 30px;
    margin-left: 25px;
    background-color: #3B4E6E 
}

/*skill*/
.container3{
    display: flex;
    justify-content: space-between;
    padding: 10px 225px 200px;
}

.left3 .middle3 .right3{
    flex: 1;
    margin-left: 10px;
    text-align: center;
    font-size: 25px;
}

.img2{
    width: 250px;
    height: 250px;
}

.icon {
    margin-right: 10px;

}

/*experience 內容*/
.container4{
    display: flex;
    justify-content: space-between;
    padding: 50px 225px 10px;
}

.left4{
    flex: 1;
}

.right4{
    border: 11px solid #C1D7EE;
    padding: 60px;
    border-radius: 10px 30px; 

    outline:4px solid #3B4E6E;
    outline-style: double;
    font-size: 25px;
    text-align: center;

    flex: 1;
    margin-left: 25px;
    line-height: 1.5;
}
.img4{
    float: left;
    width: 500px;
    height: 380px;
    border-radius: 20px;
}

.container5{
    display: flex;
    justify-content: space-between;
    padding: 20px 225px 10px;
}

.left5{
    border: 11px solid #C1D7EE;
    padding: 60px;
    border-radius: 10px 30px; 

    outline:4px solid #3B4E6E;
    outline-style: double;
    font-size: 25px;
    text-align: center;

    flex: 1;
    margin-right: 25px;
    line-height: 1.5;
}

.right5{
    flex: 1;
}

.pskill{
    position: relative;
    right: 175px;
}


.bar{
    margin: 20px 0;
}
.bar .info{
    margin-bottom: 5px;
}

.bar .info span {
font-size: 17px; font-weight: 500;
animation: showText 0.5s 1s linear forwards;
opacity: 0;
}

.bar .progress-line{
    position: relative; 
    border-radius: 10px;
    width: 500%; 
    height: 5px; 
    background-color: #000;
    animation: animate 3s cubic-bezier(1,0,0.5,1) forwards;
    transform: scale(0); 
    transform-origin: left;
}
@keyframes animate{
    100%{
    transform: scaleX(1);
    }   
}
.bar .progress-line span{
    height: 100%;
    background-color:#e996a2;
    position: absolute; 
    border-radius: 10px;
    animation: animate 1s 3s cubic-bezier(1,0,0.5,1) forwards; 
    transform: scaleX(0); 
    transform-origin: left;
}
.bar .progress-line.java span{
    width: 60%;
}

.bar .progress-line.python span{
    width: 70%;
}

.bar .progress-line.html span{
    width: 70%;
}

.progress-line span::after{
    position: absolute; 
    padding: 1px 8px; 
    background-color:#000;
    color: #fff;
    font-size: 12px; 
    border-radius: 3px; 
    line-height: 2;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.bar .progress-line.java span::after{
    content: "60%";
}

.bar .progress-line.python span::after{
    content: "70%";
}

.bar .progress-line.html span::after{
    content: "70%";
}

.bar .progress-line span::before{
    content: "";
    position:absolute;
    width: 0; 
    height: 0;
    border: 7px solid transparent; 
    border-bottom-width: 0px; 
    border-right-width: 0px; 
    border-top-color: #000; 
    top: -10px; 
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

@keyframes showText{
    100%{
        opacity: 1;
    }
}

.bi_bi-arrow-up-circle{
    position: fixed;
    right: 45px;
    bottom: 55px;
    z-index: 2;
    color: #3B4E6E;
}